asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.1.2
Automat==22.10.0
#backports.zoneinfo==0.2.1
cachetools==5.3.3
certifi==2024.6.2
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.3.2
colorama==0.4.6
constantly==15.1.0
cryptography==42.0.8
daphne==4.0.0
Django==3.2.25
djangorestframework==3.15.1
filelock==3.12.2
fsspec==2023.1.0
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-speech==2.26.0
googleapis-common-protos==1.63.1
grpcio==1.62.2
grpcio-status==1.62.2
huggingface-hub==0.16.4
hyperlink==21.0.0
idna==3.7
importlib-metadata==6.7.0
incremental==22.10.0
msgpack==1.0.5
numpy==1.24.4  # Update to a compatible version
packaging==24.0
proto-plus==1.24.0
protobuf==4.24.4
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydub==0.25.1
pyOpenSSL==24.1.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.6
regex==2024.4.16
requests==2.31.0
rsa==4.9
safetensors==0.4.3
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.4
tokenizers==0.13.3
torch==1.13.1
tqdm==4.66.4
transformers==4.30.2
Twisted==23.8.0
#twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.7.1
urllib3==1.26.6
zipp==3.15.0
zope.interface==6.4.post2
